<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{welcomeMessage}}</p>
    <footer>
      <p>Copyright {{year}}. {{author}}. All Rights Reserved.</p>
    </footer>
  </body>
</html>